<% include header %>
    <div class="card-deck">
        <div class="col-md-3 col-sm-6">
            <div class="card">
                <img class="card-img-top" src="<%= campsite.image %>" />
                <div class="card-body">
                    <h3 class="card-title"><%= campsite.name %></h3>
                    <p class="card-text"><% =campsite.description %></p>
                </div>
                <ul class="list-group list-group-flush">
                <% campsite.comments.map((comment)=>{%>
                    <li class="list-group-item"><%= comment.author %> - <%= comment.text %></li>
                <% }) %>
                </ul>
            </div>
        </div>
    </div>

<% include footer %>
