<% include ../partials/header %>
<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to Campsite</h1>
            <p>Check our campgrounds</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/campsites/new">Add new Campsite</a>
            </p>
        </div>
    </header>

    <div class="card-deck">
        <% campsites.map((campsite)=>{%>
        <div class="col-md-3 col-sm-6">
            <div class="card">
                <img class="card-img-top" src="<%= campsite.image %>" />
                <div class="card-body">
                    <h3 class="card-title"><%=campsite.name%></h3>
                    <div>
                      <a class="btn btn-primary" href="/campsites/<%= campsite._id %>">More info</a>
                    </div>
                </div>
            </div>
        </div>
        <% })%>
    </div>
</div>

<% include ../partials/footer %>
